.realty__tab {
	margin-bottom: 15px;
	li {
		border: 1px solid $secondary;
    margin: 0 2px;
    a.active {
	    background-color: $secondary!important;
	    color: #fff!important;
    }
    &:hover {
	    a {
		    background: $secondary;
				color: #fff;
	    }
    }
	}
}

.gallery__item {
  margin: 0 -20px 15px 0;
	img {
		width: 100%;
	}
}

.realty {
	&__box {
		position: relative;
		height: 100%;
    padding-bottom: 35px;
		a {
			background: #fff;
			width: 100%;
			border: 1px solid #f3f3f3;
			&:hover {
				box-shadow: 0px 0px 20px 9px rgba(0, 0, 0, 0.11);
			}
		}
		&--title {
			font-size: 18px;
	    font-weight: 600;
	    text-transform: uppercase;
	    transition: .2s linear;
	    overflow: hidden;
	    height: 65px;
	    padding: 10px;
	    line-height: 25px;
		}
		&--thumb {
		  position: relative; 
		  width: 100%;
		  &-img {
			  overflow: hidden;
		  }
		  img {
				transition: all 0.7s ease-out;
				&:hover {
					transform: scale(1.1);
				}
		  }
	  }
	  &--price {
		  position: absolute;
		  background: $secondary;
		  color: #fff;
		  height: 40px;
		  display: inline-flex;
		  align-items: center;
		  justify-content: center;
		  padding: 0 15px;
		  font-weight: 600;
		  z-index: 100;
		  top: 10px;
		  left: -7px;
		  flex-direction: column;
		  &:before {
			  content: '';
			  display: inline-block;
			  position: absolute;
			  left: 0;
			  bottom: -8px;
			  border: 4px solid transparent;
			  border-top: 4px solid #c48d00;
			  border-right: 3px solid #c48d00;
		  }
	  }
	  &--meta {
			padding: 15px;
			&-item {
				white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
			}
	  }
	}
}